.feed{
  &__product{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    margin-bottom: 50px;
  }
  &__product-main{
    margin-top: 46px;
  }
  &__product-img{
    margin-left: 20px;
    margin-top: 10px;
  }
  &__product-title{
    font-size: 70px;
    color: #738FB3;
    margin-bottom: 40px;
  }
  &__product-text{
    font-family: 'Anek Tamil', sans-serif;
    font-size: 20px;
    color: $majorFontCol;
    max-width: 540px;
    margin-bottom: 20px;
  }
  &__product-info{
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__product-footer{
    font-family: 'Anek Tamil', sans-serif;
    display: flex;
    gap: 40px;
  }
  &__product-price{
    color: $majorFontCol;
    padding: 21px 50px;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(44, 35, 213, 0.21) 0%, #F80920 100%);
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-weight: 600;
    height: 100%;
  }
  &__product-buy{
    background: transparent;
    color: $majorFontCol;
    padding: 20px 22px;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid #00CDFF;
    border-radius: 30px;
  }
}

